<button class="sidebar-toggle" (click)="toggleSidebar()">
    <div class="grid-icon">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</button>
<div class="sidebar" [class.sidebar-open]="isOpen">
    <ul class="sidebar-menu no-bullets">
        <li><a href="/">Home</a></li>
        <li><a href="/quotes">Floor Plans</a></li>
        <li class="d-flex align-items-center no-margin">
            <a href="/services" class="flex-grow-1">Services</a>
            <button class="submenu-toggle ms-2" (click)="toggleSubmenu($event)">&#9660;</button>
        </li>
        <ul class="submenu no-bullets" [ngClass]="{'submenu-open': isSubmenuOpen}">
            <li *ngFor="let service of services">
              <a [routerLink]="['/services', service.slug]" (click)="navigateToService(service.slug)">
                {{ service.title }}
              </a>
            </li>
          </ul>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
    </ul>
</div>