.sidebar {
    position: fixed;
    top: 0;
    right: 0; /* Cambiado de left a right */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    overflow: auto;
    transition: transform 0.3s ease;
    transform: translateX(100%); /* Cambiado de -100% a 100% */
    z-index: 1000; /* Asegúrate de que el sidebar esté por encima del contenido */
}

.sidebar-open {
    transform: translateX(0);
}

.sidebar-menu {
    padding: 50px 0;
}

.sidebar-menu li {
    margin: 20px 0;
}
.no-bullets {
    list-style-type: none;
}

.sidebar-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    white-space: nowrap;
}

.sidebar-menu a:hover {
    background-color: #4a4f57;
    transform: translateX(5px);
}

.sidebar-toggle {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1100;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-55%);
}

.sidebar-toggle:hover {
    background-color: #555;
}

.grid-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    width: 24px;
    height: 24px;
}

.grid-icon div {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
}

@media (max-width: 1023px) {
    .nav {
        display: none;
    }

    .sidebar-toggle {
        display: flex;
        
    }
}