<header class="container-fluid text-white py-2">
    <div class="row d-flex align-items-center mx-auto">
      <div class="d-flex align-items-center col-6 col-md-6 col-lg-6 ps-3 py-2">
        <button
          class="btn btn-back d-md-none"
          (click)="goBack()"
          *ngIf="!isHomePage && isMobile"
        >
          <i class="bi bi-arrow-left"></i>
        </button>
        <span
          *ngIf="!isHomePage"
          class="d-flex align-items-center cursor-pointer"
          style="cursor:pointer"
          (click)="navigateToHome($event)"
          tabindex="0"
          aria-label="Go to Home"
        >
          <img src="images/EPC_PNG_Original1.png" alt="" class="logo ms-3" />
          <h4 class="text-start ms-3 mb-0">EPC Development</h4>
        </span>
        <ng-container *ngIf="isHomePage">
          <img src="images/EPC_PNG_Original1.png" alt="" class="logo ms-3" />
          <h4 class="text-start ms-3 mb-0">EPC Development</h4>
        </ng-container>
      </div>
      <div
        class="col-6 col-md-6 col-lg-6 d-flex justify-content-end align-items-center position-relative"
      >
        <ul class="nav ms-auto d-none d-lg-flex">
          <li class="nav-item">
            <a class="nav-link text-white" href="/quotes">Floor Plans</a>
          </li>
          <li class="nav-item dropdown" ngbDropdown>
            <a
              class="nav-link text-white dropdown-toggle"
              ngbDropdownToggle
              id="servicesDropdown"
              role="button"
              aria-expanded="false"
            >
              Services
            </a>
            <ul
              class="dropdown-menu"
              ngbDropdownMenu
              aria-labelledby="servicesDropdown"
            >
              <li>
                <a class="dropdown-item" href="/services">All Services</a>
              </li>
              <li *ngFor="let service of services">
                <a class="dropdown-item" [routerLink]="['/services', service.slug]" (click)="navigateToService(service.slug)">
                  {{ service.title }}
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#" (click)="navigateToProjects($event)">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#" (click)="navigateToContactUs($event)">Contact Us</a>
          </li>
        </ul>
        <!-- Sidebar toggle and sidebar for mobile -->
        <button class="sidebar-toggle d-lg-none" (click)="toggleSidebar()">
          <div class="grid-icon">
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
          </div>
        </button>
        <div class="sidebar" [class.sidebar-open]="isSidebarOpen">
          <ul class="sidebar-menu no-bullets">
            <li>
              <a href="#" (click)="navigateToHome($event)">Home</a>
            </li>
            <li>
              <a href="/quotes">Floor Plans</a>
            </li>
            <li class="no-margin">
              <div class="d-flex align-items-center">
                <a href="/services" class="flex-grow-1">Services</a>
                <button class="submenu-toggle ms-2"
                  (click)="toggleSubmenu($event)">&#9660;</button>
              </div>
              <ul class="submenu no-bullets" [ngClass]="{'submenu-open': isSubmenuOpen}">
                <li *ngFor="let service of services">
                  <a [routerLink]="['/services', service.slug]"
                    (click)="navigateToService(service.slug)">
                    {{ service.title }}
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" (click)="navigateToProjects($event)">Projects</a>
            </li>
            <li>
              <a href="#" (click)="navigateToContactUs($event)">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>