<footer class="container-fluid bottom-footer">
    <div class="row py-5">
        <div class="col-4 col-md-4 col-lg-5">
            <img src="images/EPC_PNG_Original1.png" alt="" class="logo">
        </div>
        <div class="col-8 col-md-8 col-lg-7 align-content-center">
            <div class="row">
                <div class="col-4 col-md-4">Site map</div>
                <div class="col-4 col-md-4">Terms of service</div>
                <div class="col-4 col-md-4">Privacy Policy</div>
            </div>
        </div>
    </div>
</footer>