<div class="container-fluid my-2 flex-grow-1 d-flex flex-column flex-md-row">
  <div *ngIf="item" class="d-flex flex-column flex-md-row w-100">
    <!-- Contenedor de la imagen y el título -->
    <div class="w-100 w-md-50 pe-md-3 pb-3 d-flex flex-column justify-content-center">
      <h3>{{ item.text }}</h3>
      <app-gallery [items]="galleryItems" [itemsPerPage]="1" size="medium" class="w-100"></app-gallery>
    </div>

    <!-- Contenedor de las categorías -->
    <div class="w-100 w-md-50 ps-md-3">
      <div *ngFor="let category of item.categories; let i = index" class="mb-4">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="m-0">{{ category.name }}</h4>
          <button class="btn btn-sm btn-outline-primary" (click)="toggleCategory(i)" aria-label="Toggle Category">
            <span *ngIf="expandedCategories[i]">➖</span>
            <span *ngIf="!expandedCategories[i]">➕</span>
          </button>
        </div>

        <div *ngIf="expandedCategories[i]" class="button-group d-flex flex-wrap mt-2">
          <ng-container *ngFor="let option of category.options; let j = index">
            <ng-container *ngIf="isString(option); else subCategoryTemplate">
              <div class="p-2">
                <button class="option-button" [class.selected]="isOptionCompleted(i, j)" (click)="completeOption(i, j)">
                  {{ option }}
                </button>
              </div>
            </ng-container>
            <ng-template #subCategoryTemplate>
              <div class="sub-category">
                <strong class="secondary-text" *ngIf="!isString(option)">{{ option.name }}:</strong>
                <div class="sub-button-group" *ngIf="!isString(option) && option.options">
                  <div class="p-2" *ngFor="let subOption of option.options; let k = index">
                    <button class="option-button" [class.selected]="isSubOptionCompleted(i, j, k)"
                      (click)="completeOption(i, j, k)">
                      {{ subOption }}
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>