<div class="quote-detail">
  <div class="content p-4">
    <!-- Galería de imágenes -->
    <div class="mb-5">
      <app-gallery [items]="galleryItems" [itemsPerPage]="1"
        size="medium"></app-gallery>
    </div>

    <!-- Barra de progreso -->
    <div class="progress-container">
      <div class="progress-bar">
        <div class="progress-fill" [style.width.%]="progress"></div>
      </div>
      <div class="icon-steps">
        <div *ngFor="let step of [].constructor(totalSteps); let i = index"
          class="step">
          <div class="icon" [class.active]="i <= currentCategoryIndex"></div>
        </div>
      </div>
    </div>

    <!-- Contenedor de categorías -->
    <div class="category-container" *ngIf="currentCategory">
      <h3>
        <lucide-angular [img]="getIconByCategory(currentCategory.name)"
          class="category-icon"></lucide-angular>
        {{ currentCategory.name }}
      </h3>
      <div class="options two-columns">
        <div class="option-group">
          <div
            *ngFor="let option of currentCategory.options; let subIndex = index">
            <!-- Si es un SubCategory -->
            <h4 *ngIf="isSubcategory(option)">{{ option.name }}</h4>

            <div class="button-row" *ngIf="isSubcategory(option)">
              <button
                *ngFor="let subOption of option.options; let optIndex = index"
                [class.selected]="isSelected(subIndex, optIndex)"
                (click)="selectOption(subIndex, optIndex)">
                {{ subOption.name }}
              </button>
            </div>

            <!-- Opción simple para cadenas -->
            <div class="button-row" *ngIf="!isSubcategory(option)">
              <button
                [class.selected]="isSelected(subIndex, 0)"
                (click)="selectOption(subIndex, 0)">
                {{ option.name }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Estimado y botones -->
    <div class="estimate-container p-4">
      <div>
        <div class="estimated-total">
          <h2>Estimated Total</h2>
          <div class="total-amount">{{ estimatedTotal | currency }}</div>
        </div>
        <!-- Secciones organizadas -->
        <div class="user-selections">
          <ul>
            <li *ngFor="let selection of formattedSelections"
              class="primary-text">
              <strong>
                <lucide-angular [img]="getIconByCategory(selection.category)"
                  class="category-icon"></lucide-angular>
                {{ selection.category }}
              </strong>
              <ul>
                <li *ngFor="let sub of selection.subcategories">
                  {{ sub }}
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- Botón de Price Breakdown -->
        <button class="breakdown-button" (click)="toggleBreakdown()">
          🛠️ Price Breakdown
        </button>

        <div *ngIf="showBreakdown" class="breakdown-details">
          <h5>Base Price</h5>
          <div *ngFor="let item of breakdownItems"
            class="justify-content-between d-flex text-white text-light">
            <span>{{ item.name }}</span>
            <span>+{{ item.price | currency }}</span>
          </div>
          <div class="breakdown-total">
            Total: {{ estimatedTotal | currency }}
          </div>
        </div>
      </div>

      <div>
        <button class="quote-button" (click)="requestQuote()">
          <lucide-angular [img]="this.mailIcon"></lucide-angular> Request Quote
        </button>
      </div>
    </div>

    <!-- Navegación -->
    <div class="navigation-buttons">
      <button (click)="previousCategory()"
        [disabled]="!hasPrevious()">Previous</button>
      <button (click)="nextCategory()" [disabled]="!hasNext()">Next</button>
    </div>
  </div>
</div>