.gallery-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    --items-per-page: 1;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding-inline-start: 0;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex-grow: 1;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery ul {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.gallery li {
    position: relative;
    overflow: hidden;
    flex: 0 0 calc(100% / var(--items-per-page));
    cursor: pointer;
}

.gallery li img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Efectos generales con transiciones */
.gallery li,
.gallery li img,
.gallery li .content,
.gallery li .content span {
    transition: 0.3s;
}

/* Texto */
.gallery h2 {
    position: absolute;
    top: 50px;
    left: 60px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Degradado superior */
.gallery li .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 60%);
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: flex-start;
    transition: opacity 0.3s;
}

/* Posicionamiento del texto */
.gallery li .content span {
    position: relative;
    z-index: 3;
    right: 20px;
    top: 20px;
    transform: translateX(0%);
    text-align: right;
}

/* Ruta home en versión escritorio */
@media (min-width: 768px) {
    .gallery li.home-route h2 {
        opacity: 1;
    }

    .gallery li.home-route:hover {
        transform: scale(1.1);
        z-index: 10;
    }

    .gallery:hover li.home-route img {
        filter: brightness(0.5);
    }

    .gallery li.home-route:hover img {
        filter: brightness(1);
    }

    .gallery li.home-route:hover .content {
        opacity: 1;
        visibility: visible;
    }
}

/* Otras rutas en escritorio */
@media (min-width: 768px) {
    .gallery li:not(.home-route) h2 {
        opacity: 0;
    }

    .gallery li:not(.home-route) .content {
        opacity: 0;
        visibility: hidden;
    }

    .gallery li:not(.home-route):hover {
        transform: scale(1);
    }
}

/* Versión móvil */
@media (max-width: 767px) {
    .gallery li {
        flex: 0 0 calc(100% / var(--items-per-page));
        transform: scale(1);
    }

    /* Ruta home en móvil */
    .gallery li.home-route h2 {
        opacity: 1;
    }

    .gallery li.home-route .content {
        opacity: 1;
        visibility: visible;
    }

    /* Otras rutas en móvil */
    .gallery li:not(.home-route) h2 {
        opacity: 0;
    }

    .gallery li:not(.home-route) .content {
        opacity: 0;
        visibility: hidden;
    }
}

/* Controles del carrusel */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #c4953b;
    border: none;
    padding: 3px;
    cursor: pointer;
    z-index: 100;
    font-size: 14px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev {
    left: 20px;
}

.carousel-control-next {
    right: 20px;
}

@media (max-width: 767px) {
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

/* Indicadores del carrusel */
.carousel-indicators {
    position: absolute;
    place-self: center;
    bottom: 30px;
    display: flex;
    gap: 8px;
    z-index: 101;
}

.carousel-indicators span {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-indicators span.active {
    background-color: #c4953b;
}
