<div class="gallery-container flex-grow-1">
    <button class="carousel-control-prev d-none d-md-block"
        (click)="scrollLeft()">
        &#10094;
    </button>
    <div class="gallery" #carousel>
        <ul>
            <li *ngFor="let item of items">
                <img [src]="item.image" alt="{{ item.title }}" />
                <div class="content">
                    <span>
                        <h2>{{ item.title }}</h2>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <button class="carousel-control-next d-none d-md-block"
        (click)="scrollRight()">
        &#10095;
    </button>
    <div class="carousel-indicators">
        <span *ngFor="let page of pages; let i = index"
            [class.active]="i === getCurrentPage()"
            (click)="scrollToIndex(i * getItemsPerPage())">
        </span>
    </div>
</div>