html, body {
    height: 100% !important;
    font-family: "Montserrat", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 300 !important;
    font-style: normal !important;
    overflow-x: hidden;
    box-sizing: border-box;
}

@media (max-width: 544px) {
    html, body {
        font-size: .90rem !important;
    }
}