// Estilos base para todos los textos
h1, h2, h3, h4, h5, h6 {
    color: #E0E0E0 !important; // Primary text
}

p, span, li, a {
    color: #B0B0B0 !important; // Secondary text
}

.primary-text {
    color: #E0E0E0;
}

.secondary-text {
    color: #B0B0B0;
}

.accent-text {
    color: #6FA3FF;
}